<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    	http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
    	http://www.springframework.org/schema/context 
    	http://www.springframework.org/schema/context/spring-context-4.0.xsd ">

	<!-- ===== 读取 properties 文件方法有多种可选 ===== -->
	<!-- 方法一 -->
	<!-- <bean id="mappings"  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
		 	<property name="locations" value="classpath:config/db.properties"></property> 
		 </bean> -->
	<!-- 方法二 -->
	<!-- <context:property-placeholder location="classpath:config/db.properties" />-->
	
	
	<!-- ===== dataSource bean 配置  ====== -->
	<!-- 方法一 -->	<!-- proxool 连接池 --> 
	<bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource" >
	    <property name="alias" value="proxool-demodb" />
		<property name="driver" value="com.mysql.jdbc.Driver" />
	    <property name="driverUrl" value="jdbc:mysql://localhost:3306/demodb" />
	    <property name="user" value="demo" />
	    <property name="password" value="password" />
	 </bean>
	
	 <!--  方法二 -->
	 <!--  
	 <bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource"  
      destroy-method="close"  
      p:driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"  
      p:url="jdbc:sqlserver://localhost:1433;DatabaseName=spring"  
      p:username="sa"  
      p:password="********"/>  
	-->
		 
    <!-- 方法三 使用jndi -->
    <!--  
    <bean id="dataSource"  class="org.springframework.indi.JndiObjectFactoryBean"> 
        <property name="jndiName"> 
            <value>classpath:config/db.properties</value> 
        </property> 
    </bean> 
	 -->
	
	<!--
	<bean id="testDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
	    <property name="driverClassName" value="${test.jdbc.driverClassName}"/>  
	    <property name="url" value="${test.jdbc.url}"/>  
	    <property name="username" value="${test.jdbc.username}"/>  
	    <property name="password" value="${test.jdbc.password}"/>  
	</bean>  
	-->
	<!--
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config/db.properties</value>
			</list>
		</property>
	</bean>
	-->
	<!--      
	<bean id="mappings" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
		<property name="locations" value="classpath:jdbc.properties"></property> 
	</bean> 
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	    <property name="driverClassName" value="${jdbc.driverClassName}" />
	    <property name="url" value="${jdbc.url}" />
	    <property name="username" value="${jdbc.username}" />
	    <property name="password" value="${jdbc.password}" />
	</bean>
	<context:property-placeholder location="classpath:jdbc.properties" />
	-->
	<!--  
	<bean id="mappings"  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">   
	 	<property name="properties">  
	    <value>  
		    jdbc.driverClassName=com.microsoft.sqlserver.jdbc.SQLServerDriver  
		    jdbcjdbc.url=jdbc:sqlserver://localhost:1433;DatabaseName=spring  
		    jdbc.username=sa  
		    jdbc.password=********  
	    </value>  
	 	</property>  
	</bean>  
  
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"  
	    destroy-method="close">  
	    <property name="driverClassName" value="${jdbc.driverClassName}" />  
	    <property name="url" value="${jdbc.url}" />  
	    <property name="username" value="${jdbc.username}" />  
	    <property name="password" value="${jdbc.password}" />  
	</bean>
	--> 
</beans>