<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.1.xsd 
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
    ">
    
    <context:component-scan base-package="com.democms"  />    

	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">		
			<list>
				<value>config/i18n/zh_cn</value>
			</list>
		</property>
		<property name="defaultEncoding" value="utf-8" />
	</bean>
	
	<bean id="propertyConfigurer"    
         class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">    
       <property name="ignoreUnresolvablePlaceholders" value="true" />  
       <property name="location" value="classpath:properties/config.properties"/>    
   </bean>      

	<import resource="spring-db.xml" />
	
</beans>