<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    	http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
    	http://www.springframework.org/schema/context 
    	http://www.springframework.org/schema/context/spring-context-4.0.xsd ">

	<!-- spring datasource. -->
	<bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource" >
	    <property name="alias" value="proxool-demodb" />
		<property name="driver" value="com.mysql.jdbc.Driver" />
	    <property name="driverUrl" value="jdbc:mysql://localhost:3306/demodb" />
	    <property name="user" value="demo" />
	    <property name="password" value="password" />
    	<property name="maximumConnectionCount" value="50" />
    	<property name="minimumConnectionCount" value="10" />
	 </bean>  
    
	<bean id="persistenceProvider" class="org.hibernate.jpa.HibernatePersistenceProvider"/>
	<bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="generateDdl" value="false" />
		<property name="database" value="HSQL"/>
	</bean>
	<bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/>
	
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml"/>
		<property name="persistenceUnitName" value="demodb"/>
		<property name="persistenceProvider" ref="persistenceProvider"/>
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
		<property name="jpaDialect" ref="jpaDialect"/>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
	
</beans>